-# .flash-box
-#   .information
-#     グループを作成しました。curriculums/1185, 2675

.wrapper
  = render 'shared/side_bar'

  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group<
          test-group
        %ul.main-header__left-box__member-list
          Member :
          %li.main-header__left-box__member-list__member
            test-user

      = link_to edit_group_path(@group) do
        .main-header__edit-btn<
          Edit
    .messages
      = render @messages

    .form
      .form_message
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image ' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'


    -# .form
      -# %form.new_message#new_message
        -# .input-box
          -# %input.input-box__text#message_content{placeholder: 'type a message'}
          -# %label.input-box__image
            -# %i.fa.fa-image
        -# %input{type: "submit", value: "Send", class: "submit_btn"}
